

@import 'https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700';
@import 'https://fonts.googleapis.com/css?family=Source+Code+Pro';

@charset "UTF-8";


html {
	font-size: 18px;
}

body {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 14pt;
	font-weight: 300;
	background-color: #fefefe;
	color: #222;
	counter-reset: li;
}

h1.title {
	font-weight: 700;
	font-family: 'Source Sans Pro', sans-serif;
	color: #6CA0DC;
}

h1 {
	font-style: normal;
	font-family: 'Source Sans Pro', sans-serif;
	color: #6CA0DC;
}

h2 {
	font-style: normal;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 400;
	color: #6CA0DC;
}

h3.subtitle {
	font-style: normal;
	color: #6CA0DC;
}

h4 {
	font-style: normal;
	font-weight: 400;
	font-family: 'Source Sans Pro', sans-serif;
	margin-top: 1.5rem;
	margin-bottom: 0;
	line-height: 1;
}

h4.author,
h4.date {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 300;
}

.numeral {
	font-family: "Source Sans Pro";
	font-weight: 300;
}

em {
	font-style: italic;
	font-weight: 300;
	font-family: "Source Sans Pro";
}

strong {
	font-style: bold;
	font-weight: 600;
	font-family: "Source Sans Pro";
}

/* Code formatting */

@media screen and (max-width: 760px) {
	pre {
		width: 100%;
		font-size: 18px;
	}
}

code {
	font-family: 'Source Code Pro', Consolas, "Liberation Mono", Menlo, Courier, monospace;
	font-size: 18px;
	line-height: 1.6;
}

pre code {
	font-size: 18px;
}

.marginnote code,
.sidenote code {
	font-size: 1rem;
}

pre {
		width: 100%;
		font-size: 22px;
		overflow-x: auto;
}



/*Box*/

#box {

background-color: lightblue;

padding: 20px;


}
